@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: 6, 232, 134;
  --accent-color: 101, 17, 221;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --background-color: 8, 13, 26;
  --font-color: 255, 255, 255;
}

body, html {
  background-color: rgba(var(--background-color), 1);
}

ul, li {
  margin: 0;
  padding: 0;
}

p, li, label {
  font-family: var(--font-body);
  color: rgba(var(--font-color), 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: rgba(var(--font-color), 1);
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
}

input::placeholder, textarea::placeholder {
  color: rgb(106, 106, 106);
}

input[type="email"] {
  height: 38px;
}

.button-primary, .button-secondary {
  box-shadow: 0 0 20px rgba(var(--primary-color), 1);
  border: 2px solid rgba(var(--primary-color), 1);
  color: rgba(var(--font-color), 1);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #131313;
  border-radius: 25px;
  transition: all 0.4s ease-in-out;
}

.button-secondary {
  box-shadow: 0 0 20px rgba(var(--accent-color), 1);
  border: 2px solid rgba(var(--accent-color), 1);
  text-shadow: 0 0 5px rgba(var(--accent-color), 1);
}

.button-primary:hover, .button-secondary:hover {
  transition: all 0.4s ease-in-out;
}

.button-primary:hover {
  box-shadow: 0 0 40px rgba(var(--primary-color), 1);
}

.button-secondary:hover {
  box-shadow: 0 0 40px rgba(var(--accent-color), 1);
}

.highlight, .marketing-text {
  color: rgba(var(--primary-color), 1);
}

.highlight {
  font-weight: 700;
}

.section-heading {
  margin: 40px auto 20px;
}
